<mat-sidenav-container fullscreen>
  <mat-sidenav #start>
    <mat-nav-list>
        <svg class="profile-image" fill="#666666" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      <a *ngFor="let navItem of navItems"
         mat-list-item
         (click)="start.close()"
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
         [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>

      <hr>

      <a mat-list-item
         tabindex="-1"
         (click)="start.close()"
         [routerLink]="['/baseline']">
        Baseline
      </a>
    </mat-nav-list>
    <button mat-button tabindex="-1" (click)="start.close()">CLOSE</button>
  </mat-sidenav>
  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="demo-toolbar">
        <h1>Pigeon</h1>
        <div>
          <button mat-button (click)="toggleTheme()">{{dark ? 'Light' : 'Dark'}} theme</button>
        </div>
      </div>
    </mat-toolbar>

    <div #root="dir" dir="ltr" class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
